@(title: String)(content: Html)

<!DOCTYPE html>
<html>
<head>
    <title>@title</title>
    <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>
    <link rel="stylesheet" href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'/>
    <link rel="stylesheet" href='assets/css/util.css'/>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))'></script>
    <!--<script src='@routes.Assets.at("javascripts/bootstrap.min.js")'>&lt;!&ndash; &ndash;&gt;</script>-->
    <script type='text/javascript' src="assets/js/mindmup-editabletable.js"></script>
    <script type='text/javascript' src="assets/js/numeric-input-example.js"></script>
    <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
    <style id="holderjs-style" type="text/css"></style>
</head>
<body>
    <nav  class="navbar navbar-default navbar-fixed-top" role="navigation"">

        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">@title</a>

            </div>
        </div>
    </nav>
    <div class="container voffset7">
        @content
    </div>
</body>
</html>
